@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Barlow:400,700');

.button,
.input,
.select select {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 2px);
  padding-left: calc(0.75em - 2px);
  padding-right: calc(0.75em - 2px);
  padding-top: calc(0.5em - 2px);
  position: relative;
  vertical-align: top;
}

.button:focus,
.input:focus,
.select select:focus,
.button:active,
.input:active,
.select select:active,
.is-active.button,
.is-active.input,
.select select.is-active {
  outline: none;
}

.button[disabled],
.input[disabled],
.select select[disabled],
fieldset[disabled] .button,
fieldset[disabled] .input,
fieldset[disabled] .select select,
.select fieldset[disabled] select {
  cursor: not-allowed;
}

.button,
.file,
.tabs {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: ' ';
  display: block;
  height: 0.625em;
  margin-top: -0.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
  transform-origin: center;
  width: 0.625em;
}

.content:not(:last-child),
.title:not(:last-child),
.block:not(:last-child),
.box:not(:last-child),
.level:not(:last-child),
.tabs:not(:last-child) {
  margin-bottom: 1.5rem;
}

.delete,
.modal-close {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: rgba(10, 10, 10, 0.2);
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  outline: none;
  position: relative;
  vertical-align: top;
  width: 20px;
}

.delete::before,
.modal-close::before,
.delete::after,
.modal-close::after {
  background-color: #fff;
  content: '';
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform-origin: center center;
}

.delete::before,
.modal-close::before {
  height: 2px;
  width: 50%;
}

.delete::after,
.modal-close::after {
  height: 50%;
  width: 2px;
}

.delete:hover,
.modal-close:hover,
.delete:focus,
.modal-close:focus {
  background-color: rgba(10, 10, 10, 0.3);
}

.delete:active,
.modal-close:active {
  background-color: rgba(10, 10, 10, 0.4);
}

.is-small.delete,
.is-small.modal-close {
  height: 16px;
  max-height: 16px;
  max-width: 16px;
  min-height: 16px;
  min-width: 16px;
  width: 16px;
}

.is-large.delete,
.is-large.modal-close {
  height: 32px;
  max-height: 32px;
  max-width: 32px;
  min-height: 32px;
  min-width: 32px;
  width: 32px;
}

.loader {
  animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 9999px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: '';
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
}

.modal,
.modal-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.navbar-burger {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  color: currentColor;
  font-family: inherit;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
figure,
fieldset,
legend,
pre,
iframe,
hr,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: inherit;
}

html {
  background-color: #fff;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

article,
aside,
figure,
footer,
header,
section {
  display: block;
}

body,
button,
input,
optgroup,
select {
  font-family: 'Lato', sans-serif;
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace;
}

body {
  color: #303030;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: #1499ff;
  cursor: pointer;
  text-decoration: none;
}

a strong {
  color: currentColor;
}

a:hover {
  color: #303030;
}

code {
  background-color: #f5f5f5;
  color: #da1039;
  font-size: 0.875em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em;
}

hr {
  background-color: #f5f5f5;
  border: none;
  display: block;
  height: 2px;
  margin: 1.5rem 0;
}

img {
  height: auto;
  max-width: 100%;
}

input[type='checkbox'],
input[type='radio'] {
  vertical-align: baseline;
}

small {
  font-size: 0.875em;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  color: #303030;
  font-weight: 700;
}

fieldset {
  border: none;
}

pre {
  -webkit-overflow-scrolling: touch;
  background-color: #f5f5f5;
  color: #404040;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal;
}

pre code {
  background-color: transparent;
  color: currentColor;
  font-size: 1em;
  padding: 0;
}

table td,
table th {
  vertical-align: top;
}

table td:not([align]),
table th:not([align]) {
  text-align: inherit;
}

table th {
  color: #303030;
}

.is-pulled-left {
  float: left !important;
}

.is-pulled-right {
  float: right !important;
}

.is-shadowless {
  box-shadow: none !important;
}

.has-text-centered {
  text-align: center !important;
}

.is-hidden {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .is-hidden-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 1024px) {
  .is-hidden-desktop {
    display: none !important;
  }
}

.button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 2px;
  color: #303030;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 2px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 2px);
  text-align: center;
  white-space: nowrap;
}

.button strong {
  color: inherit;
}

.button .icon,
.button .icon.is-small,
.button .icon.is-large {
  height: 1.5em;
  width: 1.5em;
}

.button .icon:first-child:not(:last-child) {
  margin-left: calc(-0.5em - 2px);
  margin-right: 0.25em;
}

.button .icon:last-child:not(:first-child) {
  margin-left: 0.25em;
  margin-right: calc(-0.5em - 2px);
}

.button .icon:first-child:last-child {
  margin-left: calc(-0.5em - 2px);
  margin-right: calc(-0.5em - 2px);
}

.button:hover {
  border-color: #d0d1cd;
  color: #303030;
}

.button:focus {
  border-color: #485fc7;
  color: #303030;
}

.button:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(20, 153, 255, 0.25);
}

.button:active,
.button.is-active {
  border-color: #404040;
  color: #303030;
}

.button.is-primary {
  background-color: #1499ff;
  border-color: transparent;
  color: #fff;
}

.button.is-primary:hover {
  background-color: #0793ff;
  border-color: transparent;
  color: #fff;
}

.button.is-primary:focus {
  border-color: transparent;
  color: #fff;
}

.button.is-primary:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(20, 153, 255, 0.25);
}

.button.is-primary:active,
.button.is-primary.is-active {
  background-color: #008dfa;
  border-color: transparent;
  color: #fff;
}

.button.is-primary[disabled],
fieldset[disabled] .button.is-primary {
  background-color: #1499ff;
  border-color: transparent;
  box-shadow: none;
}

.button.is-primary.is-outlined {
  background-color: transparent;
  border-color: #1499ff;
  color: #1499ff;
}

.button.is-primary.is-outlined:hover,
.button.is-primary.is-outlined:focus {
  background-color: #1499ff;
  border-color: #1499ff;
  color: #fff;
}

.button.is-primary.is-outlined[disabled],
fieldset[disabled] .button.is-primary.is-outlined {
  background-color: transparent;
  border-color: #1499ff;
  box-shadow: none;
  color: #1499ff;
}

.button.is-success {
  background-color: #48c78e;
  border-color: transparent;
  color: #fff;
}

.button.is-success:hover {
  background-color: #3ec487;
  border-color: transparent;
  color: #fff;
}

.button.is-success:focus {
  border-color: transparent;
  color: #fff;
}

.button.is-success:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(72, 199, 142, 0.25);
}

.button.is-success:active,
.button.is-success.is-active {
  background-color: #3abb81;
  border-color: transparent;
  color: #fff;
}

.button.is-success[disabled],
fieldset[disabled] .button.is-success {
  background-color: #48c78e;
  border-color: transparent;
  box-shadow: none;
}

.button.is-success.is-outlined {
  background-color: transparent;
  border-color: #48c78e;
  color: #48c78e;
}

.button.is-success.is-outlined:hover,
.button.is-success.is-outlined:focus {
  background-color: #48c78e;
  border-color: #48c78e;
  color: #fff;
}

.button.is-success.is-outlined[disabled],
fieldset[disabled] .button.is-success.is-outlined {
  background-color: transparent;
  border-color: #48c78e;
  box-shadow: none;
  color: #48c78e;
}

.button.is-small {
  font-size: 0.75rem;
}

.button.is-small:not(.is-rounded) {
  border-radius: 2px;
}

.button.is-large {
  font-size: 1.5rem;
}

.button[disabled],
fieldset[disabled] .button {
  background-color: #fff;
  border-color: #dbdbdb;
  box-shadow: none;
  opacity: 0.5;
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

.content li + li {
  margin-top: 0.25em;
}

.content p:not(:last-child),
.content ol:not(:last-child),
.content ul:not(:last-child),
.content pre:not(:last-child),
.content table:not(:last-child) {
  margin-bottom: 1em;
}

.content h1,
.content h2,
.content h3,
.content h4 {
  color: #303030;
  font-weight: 600;
  line-height: 1.125;
}

.content h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.content h1:not(:first-child) {
  margin-top: 1em;
}

.content h2 {
  font-size: 1.75em;
  margin-bottom: 0.5714em;
}

.content h2:not(:first-child) {
  margin-top: 1.1428em;
}

.content h3 {
  font-size: 1.5em;
  margin-bottom: 0.6666em;
}

.content h3:not(:first-child) {
  margin-top: 1.3333em;
}

.content h4 {
  font-size: 1.25em;
  margin-bottom: 0.8em;
}

.content ol {
  list-style-position: outside;
  margin-left: 2em;
  margin-top: 1em;
}

.content ol:not([type]) {
  list-style-type: decimal;
}

.content ul {
  list-style: disc outside;
  margin-left: 2em;
  margin-top: 1em;
}

.content ul ul {
  list-style-type: circle;
  margin-top: 0.5em;
}

.content ul ul ul {
  list-style-type: square;
}

.content figure {
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
}

.content figure:not(:first-child) {
  margin-top: 2em;
}

.content figure:not(:last-child) {
  margin-bottom: 2em;
}

.content figure img {
  display: inline-block;
}

.content pre {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  padding: 1.25em 1.5em;
  white-space: pre;
  word-wrap: normal;
}

.content sub {
  font-size: 75%;
}

.content table {
  width: 100%;
}

.content table td,
.content table th {
  border: 1px solid #dbdbdb;
  border-width: 0 0 1px;
  padding: 0.5em 0.75em;
  vertical-align: top;
}

.content table th {
  color: #303030;
}

.content table th:not([align]) {
  text-align: inherit;
}

.content table thead td,
.content table thead th {
  border-width: 0 0 2px;
  color: #303030;
}

.content table tbody tr:last-child td,
.content table tbody tr:last-child th {
  border-bottom-width: 0;
}

.content .tabs li + li {
  margin-top: 0;
}

.content.is-small {
  font-size: 0.75rem;
}

.content.is-large {
  font-size: 1.5rem;
}

.title {
  word-break: break-word;
}

.title em,
.title span {
  font-weight: inherit;
}

.title sub {
  font-size: 0.75em;
}

.title .tag {
  vertical-align: middle;
}

.title {
  color: #303030;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}

.title strong {
  color: inherit;
  font-weight: inherit;
}

.image {
  display: block;
  position: relative;
}

.image img {
  display: block;
  height: auto;
  width: 100%;
}

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.icon.is-small {
  height: 1rem;
  width: 1rem;
}

.icon.is-large {
  height: 3rem;
  width: 3rem;
}

.icon-text {
  align-items: flex-start;
  color: inherit;
  display: inline-flex;
  flex-wrap: wrap;
  line-height: 1.5rem;
  vertical-align: top;
}

.icon-text .icon {
  flex-grow: 0;
  flex-shrink: 0;
}

.icon-text .icon:not(:last-child) {
  margin-right: 0.25em;
}

.icon-text .icon:not(:first-child) {
  margin-left: 0.25em;
}

div.icon-text {
  display: flex;
}

.number {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 9999px;
  display: inline-flex;
  font-size: 1.25rem;
  height: 2em;
  justify-content: center;
  margin-right: 1.5rem;
  min-width: 2.5em;
  padding: 0.25rem 0.5rem;
  text-align: center;
  vertical-align: top;
}

.tags {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tags .tag {
  margin-bottom: 0.5rem;
}

.tags .tag:not(:last-child) {
  margin-right: 0.5rem;
}

.tags:last-child {
  margin-bottom: -0.5rem;
}

.tags:not(:last-child) {
  margin-bottom: 1rem;
}

.tags.is-right {
  justify-content: flex-end;
}

.tags.is-right .tag:not(:first-child) {
  margin-left: 0.5rem;
}

.tags.is-right .tag:not(:last-child) {
  margin-right: 0;
}

.tag:not(body) {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 4px;
  color: #404040;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
}

.tag:not(body) .delete {
  margin-left: 0.25rem;
  margin-right: -0.375rem;
}

.tag:not(body).is-primary {
  background-color: #1499ff;
  color: #fff;
}

.tag:not(body).is-success {
  background-color: #48c78e;
  color: #fff;
}

.tag:not(body).is-large {
  font-size: 1.25rem;
}

.tag:not(body) .icon:first-child:not(:last-child) {
  margin-left: -0.375em;
  margin-right: 0.1875em;
}

.tag:not(body) .icon:last-child:not(:first-child) {
  margin-left: 0.1875em;
  margin-right: -0.375em;
}

.tag:not(body) .icon:first-child:last-child {
  margin-left: -0.375em;
  margin-right: -0.375em;
}

a.tag:hover {
  text-decoration: underline;
}

.box {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: #404040;
  display: block;
  padding: 1.25rem;
}

a.box:hover,
a.box:focus {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px #1499ff;
}

a.box:active {
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2), 0 0 0 1px #1499ff;
}

.input,
.select select {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  color: #303030;
}

.input::-moz-placeholder,
.select select::-moz-placeholder {
  color: rgba(48, 48, 48, 0.3);
}

.input::-webkit-input-placeholder,
.select select::-webkit-input-placeholder {
  color: rgba(48, 48, 48, 0.3);
}

.input:-moz-placeholder,
.select select:-moz-placeholder {
  color: rgba(48, 48, 48, 0.3);
}

.input:-ms-input-placeholder,
.select select:-ms-input-placeholder {
  color: rgba(48, 48, 48, 0.3);
}

.input:hover,
.select select:hover {
  border-color: #d0d1cd;
}

.input:focus,
.select select:focus,
.input:active,
.select select:active,
.is-active.input,
.select select.is-active {
  border-color: #1499ff;
  box-shadow: 0 0 0 0.125em rgba(20, 153, 255, 0.25);
}

.input[disabled],
.select select[disabled],
fieldset[disabled] .input,
fieldset[disabled] .select select,
.select fieldset[disabled] select {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  box-shadow: none;
  color: #7a7a7a;
}

.input[disabled]::-moz-placeholder,
.select select[disabled]::-moz-placeholder,
fieldset[disabled] .input::-moz-placeholder,
fieldset[disabled] .select select::-moz-placeholder,
.select fieldset[disabled] select::-moz-placeholder {
  color: rgba(122, 122, 122, 0.3);
}

.input[disabled]::-webkit-input-placeholder,
.select select[disabled]::-webkit-input-placeholder,
fieldset[disabled] .input::-webkit-input-placeholder,
fieldset[disabled] .select select::-webkit-input-placeholder,
.select fieldset[disabled] select::-webkit-input-placeholder {
  color: rgba(122, 122, 122, 0.3);
}

.input[disabled]:-moz-placeholder,
.select select[disabled]:-moz-placeholder,
fieldset[disabled] .input:-moz-placeholder,
fieldset[disabled] .select select:-moz-placeholder,
.select fieldset[disabled] select:-moz-placeholder {
  color: rgba(122, 122, 122, 0.3);
}

.input[disabled]:-ms-input-placeholder,
.select select[disabled]:-ms-input-placeholder,
fieldset[disabled] .input:-ms-input-placeholder,
fieldset[disabled] .select select:-ms-input-placeholder,
.select fieldset[disabled] select:-ms-input-placeholder {
  color: rgba(122, 122, 122, 0.3);
}

.input {
  box-shadow: none;
  max-width: 100%;
  width: 100%;
}

.is-primary.input {
  border-color: #1499ff;
}

.is-primary.input:focus,
.is-primary.input:active,
.is-primary.is-active.input {
  box-shadow: 0 0 0 0.125em rgba(20, 153, 255, 0.25);
}

.is-success.input {
  border-color: #48c78e;
}

.is-success.input:focus,
.is-success.input:active,
.is-success.is-active.input {
  box-shadow: 0 0 0 0.125em rgba(72, 199, 142, 0.25);
}

.is-small.input {
  border-radius: 2px;
  font-size: 0.75rem;
}

.is-large.input {
  font-size: 1.5rem;
}

.checkbox,
.radio {
  cursor: pointer;
  display: inline-block;
  line-height: 1.25;
  position: relative;
}

.checkbox input,
.radio input {
  cursor: pointer;
}

.checkbox:hover,
.radio:hover {
  color: #303030;
}

.checkbox[disabled],
.radio[disabled],
fieldset[disabled] .checkbox,
fieldset[disabled] .radio,
.checkbox input[disabled],
.radio input[disabled] {
  color: #7a7a7a;
  cursor: not-allowed;
}

.radio + .radio {
  margin-left: 0.5em;
}

.select {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: top;
}

.select:not(.is-multiple) {
  height: 2.5em;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #1499ff;
  right: 1.125em;
  z-index: 4;
}

.select select {
  cursor: pointer;
  display: block;
  font-size: 1em;
  max-width: 100%;
  outline: none;
}

.select select::-ms-expand {
  display: none;
}

.select select[disabled]:hover,
fieldset[disabled] .select select:hover {
  border-color: #f5f5f5;
}

.select select:not([multiple]) {
  padding-right: 2.5em;
}

.select select[multiple] {
  height: auto;
  padding: 0;
}

.select select[multiple] option {
  padding: 0.5em 1em;
}

.select:not(.is-multiple):not(.is-loading):hover::after {
  border-color: #303030;
}

.select.is-primary:not(:hover)::after {
  border-color: #1499ff;
}

.select.is-primary select {
  border-color: #1499ff;
}

.select.is-primary select:hover {
  border-color: #008dfa;
}

.select.is-primary select:focus,
.select.is-primary select:active,
.select.is-primary select.is-active {
  box-shadow: 0 0 0 0.125em rgba(20, 153, 255, 0.25);
}

.select.is-success:not(:hover)::after {
  border-color: #48c78e;
}

.select.is-success select {
  border-color: #48c78e;
}

.select.is-success select:hover {
  border-color: #3abb81;
}

.select.is-success select:focus,
.select.is-success select:active,
.select.is-success select.is-active {
  box-shadow: 0 0 0 0.125em rgba(72, 199, 142, 0.25);
}

.select.is-small {
  border-radius: 2px;
  font-size: 0.75rem;
}

.select.is-large {
  font-size: 1.5rem;
}

.file {
  align-items: stretch;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.file.is-small {
  font-size: 0.75rem;
}

.file.is-large {
  font-size: 1.5rem;
}

.file.is-right {
  justify-content: flex-end;
}

.file-input {
  height: 100%;
  left: 0;
  opacity: 0;
  outline: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.label {
  color: #303030;
  display: block;
  font-size: 1rem;
  font-weight: 700;
}

.label:not(:last-child) {
  margin-bottom: 0.5em;
}

.label.is-small {
  font-size: 0.75rem;
}

.label.is-large {
  font-size: 1.5rem;
}

.help {
  display: block;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.help.is-primary {
  color: #1499ff;
}

.help.is-success {
  color: #48c78e;
}

.field:not(:last-child) {
  margin-bottom: 0.75rem;
}

.control {
  box-sizing: border-box;
  clear: both;
  font-size: 1rem;
  position: relative;
  text-align: inherit;
}

.control.has-icons-left .input:focus ~ .icon,
.control.has-icons-left .select:focus ~ .icon,
.control.has-icons-right .input:focus ~ .icon,
.control.has-icons-right .select:focus ~ .icon {
  color: #404040;
}

.control.has-icons-left .input.is-small ~ .icon,
.control.has-icons-left .select.is-small ~ .icon,
.control.has-icons-right .input.is-small ~ .icon,
.control.has-icons-right .select.is-small ~ .icon {
  font-size: 0.75rem;
}

.control.has-icons-left .input.is-large ~ .icon,
.control.has-icons-left .select.is-large ~ .icon,
.control.has-icons-right .input.is-large ~ .icon,
.control.has-icons-right .select.is-large ~ .icon {
  font-size: 1.5rem;
}

.control.has-icons-left .icon,
.control.has-icons-right .icon {
  color: #dbdbdb;
  height: 2.5em;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 2.5em;
  z-index: 4;
}

.control.has-icons-left .input,
.control.has-icons-left .select select {
  padding-left: 2.5em;
}

.control.has-icons-left .icon.is-left {
  left: 0;
}

.control.has-icons-right .input,
.control.has-icons-right .select select {
  padding-right: 2.5em;
}

.control.has-icons-right .icon.is-right {
  right: 0;
}

.navbar {
  background-color: #000;
  min-height: 3.25rem;
  position: relative;
  z-index: 30;
}

.navbar.is-primary {
  background-color: #1499ff;
  color: #fff;
}

.navbar.is-primary .navbar-brand > .navbar-item {
  color: #fff;
}

.navbar.is-primary .navbar-brand > a.navbar-item:focus,
.navbar.is-primary .navbar-brand > a.navbar-item:hover,
.navbar.is-primary .navbar-brand > a.navbar-item.is-active {
  background-color: #008dfa;
  color: #fff;
}

.navbar.is-primary .navbar-burger {
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .navbar.is-primary .navbar-start > .navbar-item,
  .navbar.is-primary .navbar-end > .navbar-item {
    color: #fff;
  }

  .navbar.is-primary .navbar-start > a.navbar-item:focus,
  .navbar.is-primary .navbar-start > a.navbar-item:hover,
  .navbar.is-primary .navbar-start > a.navbar-item.is-active,
  .navbar.is-primary .navbar-end > a.navbar-item:focus,
  .navbar.is-primary .navbar-end > a.navbar-item:hover,
  .navbar.is-primary .navbar-end > a.navbar-item.is-active {
    background-color: #008dfa;
    color: #fff;
  }
}

.navbar.is-success {
  background-color: #48c78e;
  color: #fff;
}

.navbar.is-success .navbar-brand > .navbar-item {
  color: #fff;
}

.navbar.is-success .navbar-brand > a.navbar-item:focus,
.navbar.is-success .navbar-brand > a.navbar-item:hover,
.navbar.is-success .navbar-brand > a.navbar-item.is-active {
  background-color: #3abb81;
  color: #fff;
}

.navbar.is-success .navbar-burger {
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .navbar.is-success .navbar-start > .navbar-item,
  .navbar.is-success .navbar-end > .navbar-item {
    color: #fff;
  }

  .navbar.is-success .navbar-start > a.navbar-item:focus,
  .navbar.is-success .navbar-start > a.navbar-item:hover,
  .navbar.is-success .navbar-start > a.navbar-item.is-active,
  .navbar.is-success .navbar-end > a.navbar-item:focus,
  .navbar.is-success .navbar-end > a.navbar-item:hover,
  .navbar.is-success .navbar-end > a.navbar-item.is-active {
    background-color: #3abb81;
    color: #fff;
  }
}

.navbar > .container {
  align-items: stretch;
  display: flex;
  min-height: 3.25rem;
  width: 100%;
}

.navbar.is-fixed-top {
  left: 0;
  position: fixed;
  right: 0;
  z-index: 30;
}

.navbar.is-fixed-top {
  top: 0;
}

html.has-navbar-fixed-top,
body.has-navbar-fixed-top {
  padding-top: 3.25rem;
}

.navbar-brand {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem;
}

.navbar-brand a.navbar-item:focus,
.navbar-brand a.navbar-item:hover {
  background-color: transparent;
}

.navbar-burger {
  color: #404040;
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  margin-left: auto;
}

.navbar-burger span {
  background-color: currentColor;
  display: block;
  height: 1px;
  left: calc(50% - 8px);
  position: absolute;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
  width: 16px;
}

.navbar-burger span:nth-child(1) {
  top: calc(50% - 6px);
}

.navbar-burger span:nth-child(2) {
  top: calc(50% - 1px);
}

.navbar-burger span:nth-child(3) {
  top: calc(50% + 4px);
}

.navbar-burger:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.navbar-burger.is-active span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.navbar-burger.is-active span:nth-child(2) {
  opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.navbar-menu {
  display: none;
}

.navbar-item {
  color: #404040;
  display: block;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  position: relative;
}

.navbar-item .icon:only-child {
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}

a.navbar-item {
  cursor: pointer;
}

a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active {
  background-color: #fafafa;
  color: #1499ff;
}

.navbar-item {
  flex-grow: 0;
  flex-shrink: 0;
}

.navbar-item img {
  max-height: 1.75rem;
}

@media screen and (max-width: 1023px) {
  .navbar > .container {
    display: block;
  }

  .navbar-brand .navbar-item {
    align-items: center;
    display: flex;
  }

  .navbar-menu {
    background-color: #000;
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    padding: 0.5rem 0;
  }

  .navbar-menu.is-active {
    display: block;
  }

  .navbar.is-fixed-top .navbar-menu {
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 3.25rem);
    overflow: auto;
  }
}

@media screen and (min-width: 1024px) {
  .navbar,
  .navbar-menu,
  .navbar-start,
  .navbar-end {
    align-items: stretch;
    display: flex;
  }

  .navbar {
    min-height: 3.25rem;
  }

  .navbar-burger {
    display: none;
  }

  .navbar-item {
    align-items: center;
    display: flex;
  }

  .navbar-menu {
    flex-grow: 1;
    flex-shrink: 0;
  }

  .navbar-start {
    justify-content: flex-start;
    margin-right: auto;
  }

  .navbar-end {
    justify-content: flex-end;
    margin-left: auto;
  }

  .navbar > .container .navbar-brand,
  .container > .navbar .navbar-brand {
    margin-left: -0.75rem;
  }

  .navbar > .container .navbar-menu,
  .container > .navbar .navbar-menu {
    margin-right: -0.75rem;
  }

  a.navbar-item.is-active {
    color: #0a0a0a;
  }

  a.navbar-item.is-active:not(:focus):not(:hover) {
    background-color: rgba(0, 0, 0, 0);
  }
}

.card {
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: #404040;
  max-width: 100%;
  position: relative;
}

.card-header:first-child,
.card-content:first-child,
.card-footer:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card-header:last-child,
.card-content:last-child,
.card-footer:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.card-header {
  background-color: rgba(0, 0, 0, 0);
  align-items: stretch;
  box-shadow: 0 0.125em 0.25em rgba(10, 10, 10, 0.1);
  display: flex;
}

.card-header-title {
  align-items: center;
  color: #303030;
  display: flex;
  flex-grow: 1;
  font-weight: 700;
  padding: 0.75rem 1rem;
}

.card-image {
  display: block;
  position: relative;
}

.card-image:first-child img {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card-image:last-child img {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.card-content {
  background-color: rgba(0, 0, 0, 0);
  padding: 1.5rem;
}

.card-footer {
  background-color: rgba(0, 0, 0, 0);
  border-top: 1px solid #ededed;
  align-items: stretch;
  display: flex;
}

.card-footer-item {
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  padding: 0.75rem;
}

.card-footer-item:not(:last-child) {
  border-right: 1px solid #ededed;
}

.card .media:not(:last-child) {
  margin-bottom: 1.5rem;
}

.level {
  align-items: center;
  justify-content: space-between;
}

.level code {
  border-radius: 4px;
}

.level img {
  display: inline-block;
  vertical-align: top;
}

@media screen and (min-width: 769px), print {
  .level {
    display: flex;
  }
}

.menu {
  font-size: 1rem;
}

.menu.is-small {
  font-size: 0.75rem;
}

.menu.is-large {
  font-size: 1.5rem;
}

.menu-list {
  line-height: 1.25;
}

.menu-list a {
  border-radius: 2px;
  color: #404040;
  display: block;
  padding: 0.5em 0.75em;
}

.menu-list a:hover {
  background-color: #f5f5f5;
  color: #303030;
}

.menu-list a.is-active {
  background-color: #1499ff;
  color: #fff;
}

.menu-list li ul {
  border-left: 1px solid #dbdbdb;
  margin: 0.75em;
  padding-left: 0.75em;
}

.menu-label {
  color: #7a7a7a;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.menu-label:not(:first-child) {
  margin-top: 1em;
}

.menu-label:not(:last-child) {
  margin-bottom: 1em;
}

.dropdown {
  display: inline-flex;
  position: relative;
  vertical-align: top;
}

.dropdown.is-active .dropdown-menu {
  display: block;
}

.dropdown.is-right .dropdown-menu {
  left: auto;
  right: 0;
}

.dropdown-menu {
  display: none;
  left: 0;
  min-width: 12rem;
  padding-top: 4px;
  position: absolute;
  top: 100%;
  z-index: 20;
}

.dropdown-content {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0px 0 1px rgba(10, 10, 10, 0.02);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.dropdown-item {
  color: #404040;
  display: block;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 0.375rem 1rem;
  position: relative;
}

a.dropdown-item,
button.dropdown-item {
  padding-right: 3rem;
  text-align: inherit;
  white-space: nowrap;
  width: 100%;
}

a.dropdown-item:hover,
button.dropdown-item:hover {
  background-color: #f5f5f5;
  color: #0a0a0a;
}

a.dropdown-item.is-active,
button.dropdown-item.is-active {
  background-color: #1499ff;
  color: #fff;
}

.dropdown-divider {
  background-color: #ededed;
  border: none;
  display: block;
  height: 1px;
  margin: 0.5rem 0;
}

.modal {
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 40;
}

.modal.is-active {
  display: flex;
}

.modal-background {
  background-color: rgba(10, 10, 10, 0.86);
}

.modal-content {
  margin: 0 20px;
  max-height: calc(100vh - 160px);
  overflow: auto;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .modal-content {
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 640px;
  }
}

.modal-close {
  background: none;
  height: 40px;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 40px;
}

.tabs {
  -webkit-overflow-scrolling: touch;
  align-items: stretch;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.tabs a {
  align-items: center;
  border-bottom-color: #dbdbdb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #404040;
  display: flex;
  justify-content: center;
  margin-bottom: -1px;
  padding: 0.5em 1em;
  vertical-align: top;
}

.tabs a:hover {
  border-bottom-color: #303030;
  color: #303030;
}

.tabs li {
  display: block;
}

.tabs li.is-active a {
  border-bottom-color: #1499ff;
  color: #1499ff;
}

.tabs ul {
  align-items: center;
  border-bottom-color: #dbdbdb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-start;
}

.tabs ul.is-left {
  padding-right: 0.75em;
}

.tabs ul.is-right {
  justify-content: flex-end;
  padding-left: 0.75em;
}

.tabs .icon:first-child {
  margin-right: 0.5em;
}

.tabs .icon:last-child {
  margin-left: 0.5em;
}

.tabs.is-right ul {
  justify-content: flex-end;
}

.tabs.is-small {
  font-size: 0.75rem;
}

.tabs.is-large {
  font-size: 1.5rem;
}

.hero {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero .navbar {
  background: none;
}

.hero .tabs ul {
  border-bottom: none;
}

.hero.is-primary {
  background-color: #1499ff;
  color: #fff;
}

.hero.is-primary
  a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current),
.hero.is-primary strong {
  color: inherit;
}

.hero.is-primary .title {
  color: #fff;
}

@media screen and (max-width: 1023px) {
  .hero.is-primary .navbar-menu {
    background-color: #1499ff;
  }
}

.hero.is-primary .navbar-item {
  color: rgba(255, 255, 255, 0.7);
}

.hero.is-primary a.navbar-item:hover,
.hero.is-primary a.navbar-item.is-active {
  background-color: #008dfa;
  color: #fff;
}

.hero.is-primary .tabs a {
  color: #fff;
  opacity: 0.9;
}

.hero.is-primary .tabs a:hover {
  opacity: 1;
}

.hero.is-primary .tabs li.is-active a {
  color: #1499ff !important;
  opacity: 1;
}

.hero.is-success {
  background-color: #48c78e;
  color: #fff;
}

.hero.is-success
  a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current),
.hero.is-success strong {
  color: inherit;
}

.hero.is-success .title {
  color: #fff;
}

@media screen and (max-width: 1023px) {
  .hero.is-success .navbar-menu {
    background-color: #48c78e;
  }
}

.hero.is-success .navbar-item {
  color: rgba(255, 255, 255, 0.7);
}

.hero.is-success a.navbar-item:hover,
.hero.is-success a.navbar-item.is-active {
  background-color: #3abb81;
  color: #fff;
}

.hero.is-success .tabs a {
  color: #fff;
  opacity: 0.9;
}

.hero.is-success .tabs a:hover {
  opacity: 1;
}

.hero.is-success .tabs li.is-active a {
  color: #48c78e !important;
  opacity: 1;
}

.hero.is-small .hero-body {
  padding: 1.5rem;
}

@media screen and (min-width: 769px), print {
  .hero.is-large .hero-body {
    padding: 18rem 6rem;
  }
}

.hero-body {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 3rem 1.5rem;
}

@media screen and (min-width: 769px), print {
  .hero-body {
    padding: 3rem 3rem;
  }
}

.section {
  padding: 3rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .section {
    padding: 3rem 3rem;
  }

  .section.is-large {
    padding: 18rem 6rem;
  }
}

.footer {
  background-color: #fafafa;
  padding: 3rem 1.5rem 6rem;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}

@media screen and (min-width: 769px), print {
  .column.is-half {
    flex: none;
    width: 50%;
  }

  .column.is-one-third {
    flex: none;
    width: 33.3333%;
  }

  .column.is-one-quarter {
    flex: none;
    width: 25%;
  }
}

.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}

.columns:last-child {
  margin-bottom: -0.75rem;
}

.columns:not(:last-child) {
  margin-bottom: calc(1.5rem - 0.75rem);
}

.columns.is-multiline {
  flex-wrap: wrap;
}

@media screen and (min-width: 769px), print {
  .columns:not(.is-desktop) {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .columns.is-desktop {
    display: flex;
  }
}

.tile {
  align-items: stretch;
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: min-content;
}

@media screen and (min-width: 769px), print {
  .tile:not(.is-child) {
    display: flex;
  }
}

html,
body {
  height: 100%;
}

.has-text-centered {
  text-align: center;
}

.navbar-brand .logo {
  line-height: 48px;
  min-width: 180px;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
}

.navbar-brand .logo > strong {
  font-size: 28px;
  margin-right: 5px;
  margin-top: -9px;
}

.navbar-brand .logo img {
  height: 44px;
  max-height: 44px;
}

.brand {
  font-family: 'Barlow', Arial, Helvetica, sans-serif;
}

html.has-navbar-fixed-top,
body.has-navbar-fixed-top {
  padding-top: 4em;
}

#navbarTop {
  min-height: 4em;
}

#navbarTop .navbar-start .navbar-item a {
  color: #fff;
}

#navbarTop .navbar-start .navbar-item:hover a,
#navbarTop .navbar-start .navbar-item.is-active a {
  color: #1499ff;
}

@media screen and (min-width: 1023px) {
  #navbarTop .navbar-start .navbar-item {
    border-bottom: 4px solid #000;
  }

  #navbarTop .navbar-start .navbar-item,
  #navbarTop .navbar-start .navbar-item a {
    transition: all 0.3s ease-in-out;
  }

  #navbarTop .navbar-start .navbar-item:hover,
  #navbarTop .navbar-start .navbar-item.is-active {
    border-bottom-color: #1499ff;
  }

  #navbarTop .navbar-start .navbar-item a {
    margin-bottom: -4px;
  }
}

@media screen and (max-width: 1023px) {
  #navbarTop .navbar-item {
    text-align: center;
  }

  #navbarTop .is-right .dropdown-menu {
    right: auto;
    top: -100%;
  }
}

.navbar-burger {
  color: #d0d1cd;
}

.navbar-burger:hover {
  color: #eff0eb;
}

.footer {
  position: relative;
  background-color: transparent;
}

#menu {
  padding: 2em;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

.top-link {
  float: right;
  margin-right: 15px;
  margin-top: 1em;
}

.top-link:hover {
  color: #1499ff;
}

.top-link:hover .link-text {
  text-decoration: underline;
}

.section-title {
  font-size: 2rem;
}

.section-title .top-link:hover {
  text-decoration: none;
}

.section-title .top-link:hover .link-text {
  text-decoration: underline;
}

h1 .anchor,
h2 .anchor,
h3 .anchor,
h4 .anchor,
.list-item .anchor {
  margin-right: 0.5em;
  opacity: 0.5;
  zoom: 0.6;
  vertical-align: middle;
  display: inline;
  margin-left: -1.5em;
}

#main {
  padding-left: 3em;
  padding-top: 0;
}

.jump {
  display: inline-block;
  position: relative;
  top: -4em;
  visibility: hidden;
}

.description p,
.description h3,
.description h4 {
  padding: 1em 0;
}

.description p,
.description li {
  padding-right: 3em;
  max-width: 800px;
}

.description ul {
  list-style: disc;
  padding-inline-start: 40px;
}

.content-wrapper {
  margin-top: 0;
}

@media screen and (min-width: 1023px) {
  #menu {
    position: fixed;
    overflow-y: auto;
    height: calc(100vh - 4em);
  }

  #main {
    width: 75%;
    margin-left: 25%;
  }
}

@media screen and (max-width: 1023px) {
  #main {
    padding: 0 3.5em;
  }

  .content-wrapper {
    padding: 0 1em;
  }
}

.hljs {
  background: transparent;
}

.landing-block {
  padding-bottom: 2em;
}

#landing-example #editor-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: start;
  width: 100%;
  font-size: 0.7em;
}

#landing-example #editor-container {
  float: left;
  border: 0;
  left: 0;
  top: 0;
  width: 50%;
  height: 600px;
  margin: 2px;
}

#landing-example #output {
  float: left;
  border: 0;
  top: 0;
  width: 50%;
  height: 660px;
  margin: 2px;
}

a.more {
  text-transform: lowercase;
  text-decoration: none;
}

.hero--main {
  background-image: url(../images/banner.svg);
  background-repeat: no-repeat;
  min-height: 440px;
}

.hero--main .hero-text {
  color: #fff;
  font-weight: bold;
  margin-top: 120px;
  margin-left: 80px;
  font-size: 2.5em;
  line-height: 1.125em;
}

.hero--main .hero-button {
  color: #fff;
  background: #1499ff;
  padding: 1em 2em;
  border-radius: 1.5em;
  margin-left: 80px;
  display: inline-block;
  margin-top: 2em;
  font-weight: bold;
}

.intro {
  font-size: 1.25em;
}

.search {
  position: fixed;
  display: flex;
  width: 25%;
  top: 4em;
  z-index: 10;
  background: #fff;
  margin-left: -2em;
  padding-left: 2em;
  padding-top: 1.75em;
  padding-right: 2em;
  padding-bottom: 1.25em;
}

.search .control {
  width: 100%;
}

.search .input {
  border-color: #b2b2b2;
}

.search .control.has-icons-right .searchButton {
  cursor: pointer;
  pointer-events: visible;
}

.search .control.has-icons-right .searchButton:hover {
  color: #606060;
}

#editor-iframe {
  width: 100%;
  height: 500px;
  margin-top: 1em;
  margin-right: 1em;
}

.tutorials-page .section-title .download-link {
  margin-left: 2em;
  font-size: 0.5em;
  vertical-align: middle;
}

.tutorials-page .section-title .download-link .anchor {
  margin-left: 0;
  margin: 0;
}

.tutorials-page .section-title .download-link:hover {
  color: #1499ff;
}

.tutorials-page .section-title .download-link:hover .link-text {
  text-decoration: underline;
}

#example-title {
  font-size: 2em;
}

.example-page .examples-menu {
  margin-top: 4em;
}

.example-page #example-title {
  margin-top: 1.25em;
}

.example-page .top-link {
  display: flex;
  justify-content: flex-end;
  font-size: 0.85em;
}

.example-page .top-link:first-child {
  margin-right: 2em;
}

.example-page .iframe-container {
  height: 75vh;
  box-sizing: border-box;
  border-radius: 5px;
}

.example-page .iframe-container.gallery {
  height: 100vh;
}

.example-page #editor-container {
  height: 40em;
}

.example-page #output {
  height: 100% !important;
  min-height: 100%;
  background: #fff;
  width: 100%;
}

.example-page .editor {
  margin-top: 1.5em;
  margin-right: 2em;
}

.example-page .editor #content,
.example-page .editor #sources {
  padding: 0;
}

.example-page .editor #sources {
  padding-bottom: 5em;
}

.playground-page {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
}

.playground-page #output {
  width: 100%;
  overflow-y: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.api-page * .main {
  padding-left: 2em;
}

.api-page * .main * .main-info {
  color: #3492ff;
}

.api-page * .main * .tag--is-optional {
  font-size: x-small;
  display: inline-block;
  margin-left: 0.25em;
}

.api-page * .main * .type {
  color: #3492ff;
}

.api-page * .main * .inline-description p code {
  font-size: 1.25em;
}

.api-page * .main * .inline-description * .typeref {
  text-decoration: underline;
}

.api-page * .main * .typeref {
  font-weight: bolder;
}

.api-page * .main * .typeref:hover {
  color: #6e0100;
}

.api-page * .main * .default-value {
  color: #6e0100;
}

.api-page * .main * .optional {
  font-size: x-small;
}

.api-page * .main * .name {
  font-weight: bold;
}

.api-page * .main #content #sources {
  width: 90%;
}

.api-page * .main * .returns {
  font-weight: bold;
}

.api-page * .main * .list-item {
  padding: 1em 0 0.3em 0;
  display: block;
  font-size: 1.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.api-page * .main * .list-item * .icon {
  margin-left: -1.5em;
}

.api-page * .main * .inline-description p {
  display: inline;
  font-size: medium;
}

.api-page * .main * .properties {
  padding-bottom: 1em;
  max-width: 600px;
}

.api-page * .main * .properties ul {
  padding-left: 2em;
}

.api-page * .main li p {
  max-width: 800px;
}

.api-page * .main li * .properties {
  padding-bottom: 0;
}

.api-page * .main * .type a,
.api-page * .main * .type code,
.api-page * .main * .inline-description * .typeref {
  color: #3492ff;
}

.api-page * .main * .type code {
  padding: 0;
  font-size: 0.875em;
}

.api-page * .main * .section-title {
  color: #514f6a;
  font-weight: bold;
  padding-top: 1em;
}

.api-page * .main * .item-section {
  max-width: 800px;
}

.api-page * .main * .item-section code {
  background: none;
  font-size: 1em;
}

.api-page * .main * .item-section h4 {
  font-size: 1em;
  font-weight: bold;
  color: #909090;
  padding-bottom: 0.75em;
  margin-top: 1em;
}

.api-page * .main * .item-section.item-section--examples {
  max-width: none;
}

.api-page * .main * .item-section ul {
  padding-left: 2em;
}

.api-page * .main * .item-section p code {
  padding: 0;
}

.api-page * .main * .item-section * .default-value code {
  padding: 0;
}

.api-page * .main * .item-section pre {
  border-radius: 5px 0 0 5px;
}

.api-page * .main * .deprecated-tag {
  font-size: small;
  padding: 3px;
  margin-left: 10px;
  border-radius: 3px;
  color: white;
  background: firebrick;
}

.api-page * .main * .deprecated,
.api-page * .main * .deprecated a {
  color: grey;
}

.api-page * .main * .deprecated-menu {
  font-style: italic;
  text-decoration: line-through;
}

.contact-page * .title {
  padding-top: 2em;
}

.contact-page * .hbspt-form {
  margin-top: 4em;
  max-width: 600px;
}
